
.container {
  min-width: 100%;
  height: 94%;
}

.content {
  height: 720px;
}

.header{
  background-color: #121A27;
  padding: 0px;
}

.menu {
  background-color: #121A27;
  color:white;
  padding-top: 30px;
}

.info {
  color:white;
  width: 100%;
  height: calc(100vh - 310px);
  overflow-y: auto;
}

.iconPlay{
  margin-top:5px;
  margin-right: 10px;
}

.iconHeart{
  margin-right: 10px;
}

.listaRepro{
  display: flex;
  padding: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.listaRepro:hover{
  /* box-shadow: 0 0 2px 1px #283E60; */
  background-color: #0f3d65;
  background-image: linear-gradient(180deg, #283E60, #4e5f79);
  opacity: 0.5;
  cursor: pointer;
}

.albumRepo {
  padding-top: 40px;
}

.login{
  border: 8px solid #283E60;
  padding: 20px;
  width: 300px;
  color:white;
  margin-top: -255px;
}

.links{
  padding: 20px;
}

.contenido{
  overflow: auto;
  height: 670px;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #121A27;
  background-image: linear-gradient(180deg, #121A27, #283E60);
}

.scroll {
  overflow: auto;
  margin: 0 10px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.enlaces{
  position: absolute;
}

.enlace {
  padding-bottom: 20px;
}


.carousel {
  padding-bottom: 20px;
}

audio {
  filter: sepia(100%) saturate(140%) grayscale(0) contrast(200%) hue-rotate(46deg) invert(12%);
}

.albums {
  padding: 10px;
  
}
.albums:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.albumSel:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  cursor: pointer;
}

.active {
  text-decoration: none;
  font-weight: bold;
}

a{
  color:white;
}
a:hover{
  text-decoration: none;
  color:#5196ff;
}

.user {
  margin-top: -250px;
  color: white;
}

.user:hover {
  text-decoration: none;
  color: #5196ff;
  cursor: pointer;
}

.rutas {
  margin-left: 310px;
  color:white;
  height: 430px;
}

.albumList{
  padding-top: 20px;
}

.audio {
  width: 100%;
  height: 50px;
}

.songsData{
  height: calc(100vh - 280px);
  padding-top: 10px;
}
